.contact-form1{ 
    
    display: flex;  
    justify-content: center; 
    gap: 8rem;
   height: 40vh;
  

}

.c-right>form{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 15rem;
    gap: 1rem;
}
.c-right>form>*{
  border-radius: 7px;
  border: 2px solid #23A9F2; 
  outline: none;
}
textarea{
    height: 4rem!important;
}

@media screen and (max-width: 480px) {
  
    .contact-form1{
        display: flex;
        flex-direction: column;
        height: 40rem;
        gap:15px;
        padding: 0;
        margin: 0;
       
     }
    
  }