
.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}


/*left*/
.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.n-name{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--orange); 
}



/*right*/
.n-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 400;

}
.n-list{
    flex: 10;
    padding-right: 8px;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.n-list>ul{  
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right:4px;
  cursor: pointer;
  color: var(--orange); 
}
.n-list li:hover{      
    cursor: pointer;
    color: white; 
    margin-top: 5; 
 
}

.n-button{
    flex:2;
    margin-left: 5px;
}
.fabar{
    display: none;
}

@media screen and (max-width: 480px) {
    .FaBars{
        width: 40px;
        height: 40px;
        color: white;
        text-align: right;
        border: 1px solid red;
    }
    .n-wrapper{           
        display: flex;
        flex-direction: column;                
        height: 5rem;     
        padding: 0;
        gap: 3rem;  
    }
    .n-right{
        display:none;
       
    }

    .n-list  {
         height: 0px;
         overflow: hidden;
         transition: all 0.3s linear;    
    }
    .show-container{    
        left: -9rem  ;         
        height: 400px;
         }
    .show-container > ul{     
        display: flex;
        flex-direction: column;
        position: absolute;  
        top:4rem;
        left: 2rem;   
    }
    .fabar{
        display: flex;
        position: absolute;
        left:20rem;
        font-size: 30px;
    
    }  

    .n-left{
        position: absolute;
    }

    .none{
        display: flex;
        flex-direction: column;                
      
    }
    .n-button{
        display: none;
    }
    .button{
        display: none;
    }
    
    .n-toggle{           
               height: 455px; 
               display: flex; 
                flex-wrap: wrap;  
               flex-direction: column;             
               padding: 0;
               gap: 3rem;  
              
        
    }
    

}